<br /><br />
<div id="detailPanel" data-ng-show="detailShow" data-ng-cloak>
    <div id="pageTitle">
        <h3 class="page-title">
            <b>"{{SelectedTitle.TitleName}}"</b>
        </h3>
    </div>
    <hr />

    <div class="panel panel-success">
        <div class="panel-heading">Detail</div>
        <div class="panel-body">

            <ul>
                <li><b>Title Name: </b> {{SelectedTitle.TitleName}} </li>
                <li><b>Release Year: </b> {{SelectedTitle.ReleaseYear}} </li>
                <li><b>Processed DateTime UTC: </b> {{SelectedTitle.ProcessedDateTimeUTC}} </li>
                <li>
                    <b>Genre:</b>
                    <ul>
                        <li data-ng-repeat="tg in SelectedTitle.TitleGenres">{{tg.Genre.Name}}</li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Other Names</div>
        <div class="panel-body">
            <table class="table" id="" data-ng-cloak>
                <thead class="head-caption">
                    <tr>
                        <th class="header">Title Name Language</th>
                        <th class="header">Title Name</th>
                        <th class="header">Title Name Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="model in SelectedTitle.OtherNames">
                        <td>{{model.TitleNameLanguage}}</td>
                        <td>{{model.TitleName}}</td>
                        <td>{{model.TitleNameType}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


    <div class="panel panel-success">
        <div class="panel-heading">Awards</div>
        <div class="panel-body">
            <div data-ng-hide="SelectedTitle.Awards.length > 0">No Award</div>
            <table class="table" id="" data-ng-show="SelectedTitle.Awards.length > 0" data-ng-cloak>
                <thead class="head-caption">
                    <tr>
                        <th class="header">Award Won</th>
                        <th class="header">Award</th>
                        <th class="header">Award Year</th>
                        <th class="header">Award Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="model in SelectedTitle.Awards">
                        <td>{{checkmark(model.AwardWon)}}</td>
                        <td>{{model.Award1}}</td>
                        <td>{{model.AwardYear}}</td>
                        <td>{{model.AwardCompany}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Storylines</div>
        <div class="panel-body">
            <table class="table" id="" data-ng-show="SelectedTitle.StoryLines.length > 0" data-ng-cloak>
                <thead class="head-caption">
                    <tr>
                        <th class="header">Type</th>
                        <th class="header">Language</th>
                        <th class="header">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="model in SelectedTitle.StoryLines">
                        <td>{{model.Type}}</td>
                        <td>{{model.Language}}</td>
                        <td>{{model.Description}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>